server:
  port: 9090

spring:
  data:
    mongodb:
      host: localhost
      port: 27017      
     
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration     